<%- include('partials/header') %>

<main class="justify-self-stretch flex-1">

	<section class = "flex flex-col">
			<h2 class ="flex justify-center font-grands text-4xl mt-5 mb-5"><%= association.nom %></h2>

<!-- Code modifier pour contourner l'erreur du manque d'image de l'association en BDD-->

			<% if (association && association.images_association && association.images_association.url) { %>
				<img class="flex m-auto mb-5" src="<%= association.images_association.url %>" alt="Photo de <%= association.nom %>">
			<% } else { %>
				<img class="flex m-auto mb-5" src="default.jpg" alt="Photo par défaut">
			<% } %>
		</section>
		
		<Section>
			
			<address class = "flex ml-6 flex-col">
				<div class = "flex">
				<img src="/src/assets/images/mapicon.svg" class = "mr-3" alt="mapicon">
				<console class="log"></console>
				<p class="">Adresses : <%= association.rue %>,&nbsp;<%= association.code_postal %>,&nbsp;<%= association.commune%>,&nbsp;<%= association.pays %></p>
				</div>
				<div class = "flex">
				<img src="/src/assets/images/mapicon.svg" class = "mr-3" alt="mapicon">
				<p class="#">Telephone : <%= association.telephone %></p>
				</div>
				<div class = "flex">

<!-- Code modifier pour contourner l'erreur du manque d'email de l'association en BDD-->

				<img src="/src/assets/images/mapicon.svg"  class = "mr-3" alt="mapicon">
				<p class="#">E-mail : <%= association?.identifiant_association?.email || 'Non renseigné' %></p>
				</div>
			</address>

			<p><%= association.description %></p>
			
				<button type="button" class = "bg-accents1-light flex rounded-md m-auto px-5 text-fond">Voir tous nos pensionnaires</button>
		</Section>
		
		
		<!-- insérer carrousel ici -->


<!-- Code modifier pour contourner l'erreur du manque d'image de l'association en BDD-->
 
		<% if (association && Array.isArray(association.pensionnaires)) { %>
			<% association.pensionnaires.forEach(animal => { %>
				<article class="slider_card">
					<img class=# src=# alt="Photo de <%= animal.nom %>">
				</article>
			<% }) %>
		<% } else { %>
			<p>Aucun animal à afficher.</p>
		<% } %>

		
</main>
	
<%- include('partials/footer') %>