<%- include('partials/header') %>

<main class="justify-self-stretch flex-1">
  <section class="flex flex-col pt-12 mx-auto">
		<h2 class="font-grands text-center my-6 pb-4"><%= animal.nom %></h2>

			
<!-- 		<% if (animal.images_animal.length > 1) { %>
			<div>
				<% for( let i = 0; i < animal.images_animal.length; i++ ) { %>
				<img src="<%= animal.images_animal[i].url %>" alt="Photo n° <%= i %> de <%= animal.nom %>">
				<% } %>
			</div>
		<% } %>	 -->

		<div class="font-body mx-auto w-[80%] bg-zoning rounded-lg shadow dark:bg-gray-800 my-4">
			<img class="mx-auto my-2" src="<%= animal.images_animal[0].url %>" alt="Photo de <%= animal.nom %>">
		</div>


		<article class="font-body mx-auto w-[80%] bg-zoning rounded-lg shadow dark:bg-gray-800 my-4">
				<div class="text-center w-full py-2">
					<h3 class="font-grands text-3xl text-center my-2 w-full">A propos de <%= animal.nom %></h3>
				</div>

				<% if (animal.tags.length > 0 ) { %>
					<div class="text-center w-full py-2">
						<% animal.tags.forEach(tag => { %>
						<button class="group p-1 rounded-lg bg-accents1-dark text-fond text-center">
							<%= tag.nom %>
							<span class="group-hover:block hidden z-10 bg-accents2-dark text-fond absolute px-2 py-2 text-xs rounded-b-xl rounded-tr-xl">
								<%= tag.description  %>
							</span>
						</button>
						<% }) %>
					</div>
				<% } %>
				
				<div class="text-center w-full py-2">
					<p class="font-body text-texte">Nom : <%= animal.nom %></p>
					<p class="font-body text-texte">Age : <%= animal.age %>&nbsp;ans</p>
					<p class="font-body text-texte">Sexe : <%= animal.sexe %></p>
				</div>
				<div class="text-center w-full py-2">
					<p class="font-body text-texte">Espèce : <%= animal.espece.nom %></p>
					<% if (animal.race) { %>
					<p class="font-body text-texte">Race : <%= animal.race %></p>
					<% } %>
					<p class="font-body text-texte">Couleur : <%= animal.couleur %></p>
				</div>
				<div class="text-center w-full py-2">
					<p class="font-body text-texte">Statut : <%= animal.statut %></p>
				</div>

				<div class="text-center w-full py-2">
					<p class="font-body text-texte">Son petit truc en plus :<br><%= animal.description %></p>
				</div>

				<div class="text-center w-full py-2">
					<form action="/animaux/<%= animal.id %>/faire-une-demande" method="POST">
					<button type="submit" class="w-[60%] mx-auto my-3 py-2 px-4 bg-accents1-light text-fond transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg">Faire une demande</button>
					</form>
				</div>
			</article>

	</section>
	
	<!-- Mini association profile -->
	<section class="flex flex-col p-12 mx-auto">
		<article class="p-4 font-body mx-auto w-[80%] bg-zoning rounded-lg shadow dark:bg-gray-800">
			<h3 class="font-grands text-3xl text-center my-2 pt-5 w-full"><%= animal.nom %><br>vous attend chez<br><%= animal.refuge.nom %></h3>

			<% if (animal.refuge.images_association.length > 0) { %>
				<div class="font-body mx-auto w-[80%] rounded-lg my-4">
					<img src="<%= animal.refuge.images_association[0].url %>" alt="Logo de <%= animal.refuge.nom %>">
				</div>
			<% } %>
			<div class="text-center w-full py-2">
				<p class="font-body text-texte">Adresse : <%= animal.refuge.rue %>,&nbsp;<%= animal.refuge.code_postal %>,&nbsp;<%= animal.refuge.commune%>,&nbsp;<%= animal.refuge.pays %></p>
				<p class="font-body text-texte">Téléphone : <%= animal.refuge.telephone %></p>
				<p class="font-body text-texte">E-mail : <%= animal.refuge.identifiant_association.email %></p>	
			</div>

			<!-- Description ?
		 	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus magni rerum, unde sunt beatae ipsam rem est sequi minus eligendi doloremque aliquid laudantium eos perspiciatis obcaecati ea voluptas harum et?</p>
			-->
				
				<div class="text-center w-full py-2">
					<a class="w-[60%] mx-auto my-3 py-2 px-4 bg-accents1-light text-fond transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg" href="/associations/<%= animal.refuge.id %>">En savoir plus</a>
				</div>
		</article>
	</section>
	
<!-- Insert Carousel here -->
	
</main>

<%- include('partials/footer') %>