<%- include('partials/header') %>

<main>
  <h2>Bienvenue sur votre espace personnel</h2>
  
  <nav class=#>
    <ul class="flex gap-x-2 justify-center font-semibold md:justify-start md:ml-10">
      <li><button id="dashbtn-1" class="dashbtn"><a href="/associations/profil">Mon profil</a></button></li>
      <li><button id="dashbtn-2" class="dashbtn dashbtn-active"><a href="/associations/profil/demandes">Demandes</a></button></li>
      <li><button id="dashbtn-3" class="dashbtn"><a href="/associations/profil/animaux">Nos animaux</a></button></li>
    </ul>
  </nav>

  <section class=#>
    <h3>Gestion des demandes d'accueil</h3>

    <div class="container">

      <div class="row">
        <div class="col">
          <% if (demandesList.length < 1) { %>
            <h4>Pas de demandes d'accueil en attente</h4>
          <% } else { %>
            <h4>Demandes en cours</h4>
          <% } %>
    
          <% if (demandesList.length > 0) { %>
           
          <table class="table">
            <col>
            <colgroup span="4"></colgroup>
            <colgroup span="2"></colgroup>

            <tr>
              <th colspan="4" scope="colgroup">Nom Animal</th>
              <th colspan="2" scope="colgroup">Nombre de demandes</th>
            </tr>
            <% animals.forEach(animal => { %>
              <% if (animals.demandesList.length >0 ) { %>
              <tr>
                <th colspan="4" scope="colgroup"><%= animal.nom %></th>
                <!-- TO DO : Add Count for # of Requests-->
                <!-- TO DO : Add JS for unfurling row -->
                <th colspan="2" scope="colgroup"><%= animal.demande %> <button onclick="">v</button></th>
              </tr>
              <tr>
                <table class=#>
                  <tr>
                    <th colspan="2">Famille</th>
                    <th colspan="3">Date de demande</th>
                    <th colspan="1">Statut</th>
                  </tr>
                  <% animal.demandes.forEach(demande => { %>
                    <tr colspan="2"><%= demande.famille.nom %></tr>
                    <tr colspan="3"><%= demande.date_debut %></tr>
                    <tr colspan="1"><a href=#><%= demande.statut %></a></tr>
                  <% }) %>
                </table>
              </tr>
              <% } %>
            <% }) %>
          </table>

          <% } %>
        </div>
      </div>
    </div>
  </section>

</main>

<%- include('partials/footer') %>