<%- include('partials/header') %>

<main>
  <h1 class="my-6 ml-4 mb-6 text-xl">Mon espace association</h1>
  
  <!-- Conteneur général qui contient tout le dashboard -->
  <div class="flex flex-col content-center justify-center mx-4 mb-4 md:px-40">
    
    <nav class=#>
      <ul class="flex gap-x-2 justify-center font-semibold md:justify-start md:ml-10">
        <li><button id="dashbtn-1" class="dashbtn ">Mon profil</button></li>
        <li><button id="dashbtn-2" class="dashbtn">Demandes</button></li>
        <li><button id="dashbtn-3" class="dashbtn dashbtn-active">Nos animaux</button></li>
      </ul>
    </nav>
    
    <!-- Conteneur du sous menu et de la section -->
    <div class="flex flex-col bg-zoning rounded-lg">
      
      <nav class="rounded-lg">
        <ul class="rounded-t-lg flex bg-accents2 justify-stretch font-semibold text-fond text-sm md:justify-start md:pl-8">
          <li class=" rounded-tl-lg block grow text-left pl-2 border-r-2 border-r-zoning py-2 hover:underline md:grow-0 md:px-4 md:rounded-none md:border-l-2 md:border-l-zoning bor"><a href="/associations/profil/animaux">Nos animaux</a></li>
          <li class="dashsubbtn-active block grow text-center border-r-solid border-r-2 border-r-zoning py-2 hover:underline md:grow-0 md:px-4 "><a href="/associations/profil/animaux/suivi">Suivi accueils</a></li>
          <li class="block grow text-right pr-2 py-2 rounded-tr-lg hover:underline md:grow-0 md:px-4 md:rounded-none md:border-r-solid md:border-r-2 md:border-r-zoning"><a href="/associations/profil/animaux/nouveau-profil">Créer un profil</a></li>
        </ul>
      </nav>
      
      <section class="flex flex-col justify-center content-center" id="dashboard-container">
        
        <h3 class="text-center hidden md:inline font-grands text-4xl font-extrabold mt-4">Suivi des animaux accueillis</h3>
        
        <table class=" m-4 text-left ">
          
          <tr class="border-none bg-zoning text-sm font-grands">
            <th>Nom Animal</th>
            <th>Famille d'Accueil</th>
          </tr>
          
          <% animals.forEach(animal => { %>
            
            <tr class="text-fond bg-accents2 font-grands font-semibold p-3 border-accents2-dark border-solid border-1">
              <td><%= animal.nom %></td>
              <td><%= animal.accueillant.nom %></td>
            </tr>
            
            <tr class="fold mb-3 bg-fond rounded-b-lg ">
              
              <td class="w-full" colspan="2">
                
                <!-- CONTENEUR POUR LES INFORMATIONS -->
                <div class="flex flex-wrap p-2" >
                  
                  <!-- Partie Animal -->
                  <div class="w-full md:w-1/2">

                    <h3 class="font-body font-bold">Animal</h3>
                    
                    <div class="flex p-6">

                      <div class="flex flex-col gap-2">
                        <img class="size-28 rounded-lg" src="<%= animal.images_animal[0].url %>" alt="Photo de <%= animal.nom %>">
                        <a class="rounded-full bg-accents1 text-fond w-20 text-center" href="/associations/profil/animaux/<%= animal.id %>">Détails</a>
                      </div>

                      <div>
                        <p class="text-sm italic">Nom</p>
                        <p><%= animal.nom %></p>
                      </div>
                      
                    </div>
                  </div>
                  
                  <!-- PARTIE FAMILLE -->
                  <div class="w-full md:w-1/2">
  
                    <h3 class="">Famille</h3>
                  </div>
                  
                  
                </div>
              </td>
              
              
            </tr>
            
            
            <% }) %>
            
          </table>
          
          
          
          <div class="hidden">
            <% animals.forEach(animal => { %>
              <div class=#>
                <h4>Nom Animal</h4>
                <p><%= animal.nom %></p>
                <button class=#>v</button>
                
                <div>
                  <img src="<%= animal.images_animal[0].url %>" alt="Photo de <%= animal.nom %>">
                  
                  <a href="/animaux/<%= animal.id %>">Détails</a>
                  
                  <h6>Espèce</h6>
                  <p><%= animal.espece.nom %></p>
                  
                  <h6>Sexe</h6>
                  <p><%= animal.sexe %></p>
                  
                  <h6>Race</h6>
                  <p><%= animal.race %></p>
                  
                  <h6>Age</h6>
                  <p><%= animal.age %>&nbsp;ans</p>
                  
                  <% if (animal.tags) { %>
                    
                    <% animal.tags.forEach(tag => { %>
                      <button><%= tag.nom %></button>
                      <% }) %>
                      <% } %>
                    </div>
                    
                  </div>
                  
                  <div class=#>
                    <h4>Famille d'accueil</h4>
                    <p>Famille <%= animal.accueillant.nom %></p>
                    <button class=#>v</button>
                    
                    <div>
                      <h5>Coordonnées</h5>
                      <h6>Nom</h6>
                      <p><%= animal.accueillant.nom %></p>
                      
                      <h6>Adresse</h6>
                      <p><%= animal.accueillant.rue %>&nbsp;<%= animal.accueillant.code_postal %>&nbsp;<%= animal.accueillant.commune %></p>
                      
                      <h6>Pays</h6>
                      <p><%= animal.accueillant.pays %></p>
                      
                      <h6>Téléphone</h6>
                      <p><%= animal.accueillant.telephone %></p>
                      
                      <h6>e-mail</h6>
                      <p><%= animal.accueillant.email %></p>
                      
                      <h6>Hébergement</h6>
                      <p><%= animal.accueillant.hebergement %></p>
                    </div>
                    
                  </div>
                  <% }) %>
                </div>
                
                
                
                
              </section>
              
              
            </main>
            
            <%- include('partials/footer') %>