<%- include('partials/header') %>

<main>
<h2>Bienvenue sur votre espace personnel</h2>

<nav class=#>
  <ul>
    <li><button class=#>Mon profil</button></li>
    <li><button class=#>Demandes d'accueil</button></li>
    <li><button class=#>Nos animaux</button></li>
  </ul>
</nav>

<section class=#>
  <h3>Demande d'accueil de <%= animal.nom %> </h3>

  <div class=#>
      <div class=#>
        <h4>Nom Animal</h4>
        <p><%= animal.nom %></p>
        <button class=#>v</button>

        <div>
          <img src=# alt="Photo de <%= animal.nom %>">

          <a href="/animaux/<%= animal.id %>">Détails</a>

          <h6>Espèce</h6>
            <p><%= animal.espece %></p>

          <h6>Sexe</h6>
            <p><%= animal.sexe %></p>

          <h6>Race</h6>
            <p><%= animal.race %></p>

          <h6>Age</h6>
            <p><%= animal.age %>&nbsp;ans</p>

          <% tags.forEach(tag => { %>
            <button><%= tag.nom %></button>
          <% }) %>
        </div>

      </div>
      
      <div class=#>
        <h4>Famille d'accueil</h4>
        <p>Famille <%= animal.accueillant.nom %></p>
        <button class=#>v</button>

        <div>
          <h5>Coordonnées</h5>
          <h6>Nom</h6>
            <p><%= animal.accueillant.nom %></p>

          <h6>Adresse</h6>
            <p><%= animal.accueillant.rue %>&nbsp;<%= animal.accueillant.code_postal %>&nbsp;<%= animal.accueillant.commune %></p>

          <h6>Pays</h6>
            <p><%= animal.accueillant.pays %></p>
          
          <h6>Téléphone</h6>
            <p><%= animal.accueillant.telephone %></p>
          
          <h6>e-mail</h6>
            <p><%= animal.accueillant.email %></p>
        
          <h6>Hébergement</h6>
            <p><%= animal.accueillant.hebergement %></p>
        </div>

      </div>

      <div>
        <button>Accepter la demande</button>
        <button>Refuser la demande</button>
      </div>
  </div>
</section>


</main>

<%- include('partials/footer') %>