<%- include('partials/header') %>

<main>
<h2>Bienvenue sur votre espace personnel</h2>

<nav class=#>
  <ul class="flex gap-x-2 justify-center font-semibold md:justify-start md:ml-10">
    <li><button id="dashbtn-1" class="dashbtn"><a href="/associations/profil">Mon profil</a></button></li>
    <li><button id="dashbtn-2" class="dashbtn dashbtn-active"><a href="/associations/profil/demandes">Demandes</a></button></li>
    <li><button id="dashbtn-3" class="dashbtn dashbtn-active"><a href="/associations/profil/animaux">Nos animaux</a></button></li>
  </ul>
</nav>

<section class=#>
  <h3>Demande d'accueil de <%= animal.nom %> </h3>

  <div class=#>
      <div class=#>
        <h4>Nom Animal</h4>
        <p><%= animal.nom %></p>

        <div>
          <img src=<%= animal.images_animal[0].url %> alt="Photo de <%= animal.nom %>">

          <a href="/animaux/<%= animal.id %>">Détails</a>

          <h6>Espèce</h6>
            <p><%= animal.espece.nom %></p>

          <h6>Sexe</h6>
            <p><%= animal.sexe %></p>

          <h6>Race</h6>
            <p><%= animal.race %></p>

          <h6>Age</h6>
            <p><%= animal.age %>&nbsp;ans</p>

          <% animal.tags.forEach(tag => { %>
            <button><%= tag.nom %></button>
          <% }) %>
        </div>

      </div>
      
      <div class=#>
        <h4>Famille d'accueil</h4>
        <p>Famille <%= famille.nom %></p>
        <button class=#>v</button>

        <div>
          <h5>Coordonnées</h5>
          <h6>Nom</h6>
            <p><%= famille.nom %></p>

          <h6>Adresse</h6>
            <p><%= famille.rue %>&nbsp;<%= famille.code_postal %>&nbsp;<%= famille.commune %></p>

          <h6>Pays</h6>
            <p><%= famille.pays %></p>
          
          <h6>Téléphone</h6>
            <p><%= famille.telephone %></p>
          
          <h6>e-mail</h6>
            <p><%= famille.identifiant_famille.email %></p>
        
          <h6>Hébergement</h6>
            <p><%= famille.hebergement %></p>
        </div>

      </div>

      <div>
        <button>Accepter la demande</button>
        <button>Refuser la demande</button>
      </div>
  </div>
</section>


</main>

<%- include('partials/footer') %>