<%- include('partials/header') %>

<main>
  
  <h1 class="my-6 ml-4 mb-6">Bienvenue sur votre espace personnel</h1>
  
  <!-- Conteneur général qui contient tout le dashboard -->
  <div class="flex flex-col mx-4">
    
    <nav class=#>
      <ul class="flex gap-x-2 justify-center font-semibold">
        <li><button class="dashbtn dashbtn-selected">Mon profil</button></li>
        <li><button class="dashbtn">Demandes</button></li>
        <li><button class="dashbtn">Nos animaux</button></li>
      </ul>
    </nav>
    
    <!-- Conteneur du sous menu et de la section -->
    <div class="flex flex-col bg-zoning rounded-lg">

      <nav class="rounded-lg">
        <ul class="py-2 rounded-t-lg flex bg-accents2 justify-stretch font-semibold text-fond text-base">
          <li class="block grow text-left pl-2 border-3 border-r-accents1">Nos animaux</li>
          <li class="block grow text-center">Suivi accueils</li>
          <li class="block grow text-right pr-2">Créer un profil</li>
        </ul>
      </nav>
      
      <section class=#>
        <h3>Nos Animaux</h3>
        
        <div class=#>
          <% animals.forEach(animal => { %>
            <div class=#>
              <img class=# src="<%= animal.images_animal[0] %>" alt="Photo de <%= animal.nom %>">
              <div class=#>
                <h3 class=#> nom : <%= animal.nom %></h3>
                <h4 class=#>espece: <%= animal.espece.nom %></h4>
              </div>
              <a class="btn" href="/animaux/<%= animal.id %>">Découvrir</a> 
            </div>
            <% }) %>
          </div>
        </section>

      </div>
      
      
    </div>
  </main>
  
  <%- include('partials/footer') %>